html {
  color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3C2B44;
}

section {
  text-align: center;
  padding-bottom: 20vh;
}

#banner img {
  height: 60vh;
}

.inner-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 3vh auto;
  padding: 0px .5vw;
  box-sizing: border-box;
}

.clear {
  clear: both;
}